<div class="overlay-box">
<h4>Please choose a username:</h4>


<div class="row">
<div class="col-lg-6">
<div class="input-group">
<input ng-model="username" class="form-control" placeholder="Username" id="user-name" ng-keypress="keyPress2($event)" autofocus="autofocus">
<span class="input-group-btn">
<button class="btn btn-primary" type="button" ng-click="connect()" >Connect!</button>
</span>
</div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<span ng-bind="message" class="error-msg alert alert-danger"></span>
</div>