<div class="overlay-box" id="create-room">
	<button class="close" class="pull-left" ng-click="menuClose()">&times;</button>

<h5>Welcome <strong>{{ userName }}</strong>, please choose or create a chat room</h5>
<ul>
	<li ng-repeat="room in rooms">
		<a ng-href="#/room/{{room}}" ng-click="menuClose()">{{room}}</a>
	</li>
</ul>

<div class="row">
<div class="col-lg-6">
<div class="input-group">
<input ng-model="roomname" class="form-control" placeholder="Create Room" id="room-name">
<span class="input-group-btn">
<button class="btn btn-primary" type="button" ng-click="create()">Create!</button>
</span>
</div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<!-- <input ng-model="username" placeholder="Insert name here"> -->
<!-- <button ng-click="connect()">Connect!</button> -->
<span ng-bind="message" class="error-msg alert alert-danger"></span>

</div>

<div class="container">
	<h2>Welcome to {{ roomName }} <button class="btn btn-danger btn-xs" ng-click="leaveRoom()">Leave room</button>
	<button class="btn btn-success pull-right" ng-click="createRoom()">Join Room</button></h2>

<div class="alert alert-block alert-danger" id="dangerMsg">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
 <span id="mmsg"></span>
</div>
<ul class="nav nav-tabs sevensixfive">
  <li ng-repeat="ro in rName" ng-class="setActive(ro)">
		<a ng-href="#/room/{{ro}}">{{ro}}</a>
	</li>
</ul>
<div class="whole-shit">
	<div class="panel panel-default sevensixfive">
		<div class="panel-heading">
    <h3 class="panel-title">Topic!</h3>
  	</div>
		<div class="panel-body">
			
				<ul style="list-style: none" class="chat-window">
					<li ng-repeat="message in messages" class="chat-msg">
						<span>
							<strong>[{{ message.timestamp | date:"HH:mm:ss" }}]:</strong>
							<strong>
								{{ message.nick }}
							</strong>
							{{ message.message }}
						</span>
					</li>
				</ul>
		
		</div>
	</div>
	<div class="panel panel-default" id="chat-userlist">
	<div class="panel-heading">
    <h3 class="panel-title">Users!</h3>
  	</div>
		<div class="panel-body">
			
				<ul>
					<li ng-repeat="user in users">
						<strong>{{ user }}</strong>
					</li>
				</ul>
			
		</div>
	</div>
</div>


	<div class="input-group" id="inn">
	<input ng-model="currentMessage" class="form-control" ng-keypress="keyPress($event)" id="appendedInputButton" type="text" />
	<span class="input-group-btn">
	<button ng-click="send()" class="btn btn-default" type="button">Send!</button>
	 </span>
	</div>





</div>