<div class="overlay-box" id="create-room">
	<button class="close" class="pull-left" ng-click="menuClose()">&times;</button>
<h4>Join chat room</h4>

<ul>
	<li ng-repeat="room in rooms">
		{{ room }}
	</li>
</ul>

<div class="row">
<div class="col-lg-6">
<div class="input-group">
<input ng-model="roomname" class="form-control" placeholder="Create Room" id="room-name">
<span class="input-group-btn">
<button class="btn btn-primary" type="button" ng-click="create()">Create!</button>
</span>
</div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<!-- <input ng-model="username" placeholder="Insert name here"> -->
<!-- <button ng-click="connect()">Connect!</button> -->
<span ng-bind="message" class="error-msg alert alert-danger"></span>

</div>

<div class="container">
	<h2>Welcome to {{ roomName }} 	<button class="btn btn-success">Join Room</button>
	<button class="btn btn-primary" ng-click="createRoom()">Create Room</button></h2>






	<div class="well">
		<div class="row">
			<div class="col-md-9 col-xs-9">
				<ul style="list-style: none" class="chat-window">
					<li ng-repeat="message in messages" class="chat-msg">
						<span>
							<strong>[{{ message.timestamp | date:"HH:mm:ss" }}]:</strong>
							<strong>
								{{ message.nick }}
							</strong>
							{{ message.message }}
						</span>
					</li>
				</ul>
			</div>
			<div class="col-md-3 col-xs-3">
				<ul>
					<li ng-repeat="user in users">
						{{ user }}
					</li>
				</ul>
			</div>
		</div>
	</div>
	<input ng-model="currentMessage" class="form-control" ng-keypress="keyPress($event)" />
	<button ng-click="send()">Send!</button>
</div>